
<div class="container mt-5">
  <div class="card">
    <h4 class="card-header">Create Electeur
      <a routerLink="/listecandidat-list-route"  class="btn btn-primary float-end"> Back</a>
    </h4>
    <form  #f = "ngForm">
      
   
   
    <div class="mb-3 ">
      <label> Nom liste </label>
      <input type="text" name="nomReg" class="form-control"   placeholder="Hajaina" [(ngModel)] = "selectedRegion.nomListe">
    </div>
   <button class="btn btn-success btn-lg btn-block" (click)="createOrUpdateRegion(f)">save</button>
  </form>


 

  
  </div>
</div>

