
<div [ngClass]="status ? 'toggled' : ''" class="d-flex" id="wrapper">

  <div class="bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
              class="fas fa-user-secret me-2"></i>Admin</div>
      <div class="list-group list-group-flush my-3">
   
          <a href="/dashboard-election" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                  class=></i>ACCUEIL</a>
                  <a href="/resultatcandparBV-list-route" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                      class=></i>Résultats finaux</a>
                      <a href="/resultatcand-list-route" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class=></i>Résultats des candidats</a>
                      
          <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                  class="fas fa-power-off me-2"></i>Logout</a>
      </div>
  </div>

  

  <div id="page-content-wrapper">



      
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4" id="tete">
          <div class="d-flex center" >
              
              <a href="/electeur-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                  class=""></i>Candidat</a>
          <a href="/bureau-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                  class=""></i>Bureau de vote</a>
          <a href="/electionpr-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                  class=""></i>Election</a>
                 
          <a href="/region-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                  class=""></i> Région</a>
          <a href="/district-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                  class=""></i>Disctrict </a>
                  <a href="/commune-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                      class=""></i>Commune </a>
                      <a href="/fokotany-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                          class=""></i>Fokotany </a>
                          <a href="/emplacement-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                              class=""></i>Emplacement </a>
                              <a href="/listecandidat-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                                  class=""></i>Liste</a>
                      
                  <a href="/registre-list-route" class="list-group-item list-group-flush my-3 list-group-item-action bg-transparent second-text fw-bold"><i
                    class=""></i>Registre</a>
        </div>
  
  



          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
         
      
        </nav>

        <div class="d-flex align-items-center" id="titre">
                
          <h2 class="fs-2 m-0">Gestion des bureaux de vote</h2>
      </div>

      <div class="container-fluid px-4">
          <div class="row g-3 my-2">
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i class=></i>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i
                          class=></i>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i class=></i>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i class=></i>
                  </div>
              </div>
          </div>
         


<!-- rgb(209, 207, 207); -->








<div class="container mt-5" id="box">
  <div class="card" id="box2">
    <div class="card-header">
      <h4>Listes des bureaux de vote
        <a routerLink="/bureau-create-route" class="btn btn-success float-end"> + NOUVEAU</a>
      </h4>
    </div>
    <div class="card-body">
      <div class="row" id="search">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend" >
                <span class="input-group-text">Recherche:</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="searchBureau()">
            </div>
          </div>
        </div>
      </div>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Numéro</th>
            <th>Nombre electeur inscrit</th>
            <th>Nombre votant</th>
            <th>Nombre vote blanc</th>
            <th>Nombre vote null</th>
            <th>suffrage Exprimé</th>
            <th>Nom fokotany</th> 
            <th>code fokotany</th>
            <th>Nom commune</th>
            <th>Nom district</th>
            <th>Nom région</th>
            <th>Code commune</th>
            <th>code district</th>
            <th>Centre de vote</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let bureau of (searchTerm.trim() !== '' ? searchResults : bureaux)">
            <td>{{ bureau.idBV }}</td>
            <td>{{ bureau.salleBV }}</td>
            <td>{{ bureau.nbElecInscri }}</td>
            <td>{{ bureau.nbVotant }}</td>
            <td>{{ bureau.nbVoteBl }}</td>
            <td>{{ bureau.nbVoteNul }}</td>
            <td>{{ bureau.suffrageExprime }}</td> 
            <td>{{ bureau.nomFokt }}</td> 
            <td>{{ bureau.code_Fokt }}</td> 
            <td>{{ bureau.nomComm }}</td> 
            <td>{{ bureau.nomDistr }}</td> 
            <td>{{ bureau.nomReg }}</td> 
            <td>{{ bureau.code_Comm }}</td> 
            <td>{{ bureau.code_Distr }}</td> 
            <td>{{ bureau.centreBV }}</td> 
         
            <td>

              <button class="btn btn-primary" (click)="editBureau(bureau)">Edit</button>
              <button class="btn btn-danger" (click)="showDeleteModal(bureau)">Supprimer</button>



              <button class="btn btn-success" (click)="viewBureauDetails(bureau.idBV)">Voir</button>
              
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="modal" id="myModal" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Confirmation de suppression</h5>
    <button type="button" class="close" (click)="hideDeleteModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir supprimer ce bureau de vote ?
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="deleteBureau(selectedBureau.idBV); hideDeleteModal()">OUI</button>
    <button type="button" class="btn btn-secondary" (click)="hideDeleteModal()">NON</button>
  </div>
</div>
</div>
</div>



</div>