
<div class="container mt-5">
    <div class="card">
      <h4 class="card-header">Create Electeur
        <a routerLink="/electeur-list-route"  class="btn btn-primary float-end"> Back</a>
      </h4>
     
        <form #f="ngForm" (ngSubmit)="createOrUpdateElecteur(f)">
          
      <div class="mb-3 ">
        <label> Nom </label>
        <input type="text" name="numCand" class="form-control"   [(ngModel)] = "selectedElecteur.numCand" required>
      </div>
      <div class="mb-3 ">
        <label> Prénom </label>
        <input type="text" name="nomCand" class="form-control"    [(ngModel)] = "selectedElecteur.nomCand" required>
      </div>
      <div class="mb-3 ">
        <label> CIN </label>
        <input type="text" name="prenomCand" class="form-control"   [(ngModel)] = "selectedElecteur.prenomCand" required>
      </div>
      
     
      <div *ngIf="updatedSuccessfully" class="alert alert-success"> Mise à jour réussie !
      </div>
      <button type="submit" class="btn btn-primary">Mettre à jour</button>

      
    </form>
  
  
  
  
    
    </div>
  </div>
  
  