<div class="container mt-5">
    <div class="card">
      <h4 class="card-header">Update Employee</h4>
      <div class="mb-3">
        <label> Name </label>
        <input
          type="text"
          
          class="form-control"
          placeholder="Salohy"
        />
      </div>
      <div class="mb-3">
        <label> Email</label>
        <input
          type="text"
          
          class="form-control"
          placeholder="email@gamil.com"
        />
      </div>
      <div class="mb-3">
        <label> Phone </label>
        <input
          type="text"
         
          class="form-control"
          placeholder="034 38 763 31"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-success btn-lg btn-block"
          (click)="updateEmployee()"
        >
          Update Employee
        </button>
      </div>
    </div>
  </div>